sudo: required
language: elixir
elixir:
  - 1.3.4
cache:
  - apt
  - directories:
    - ~/.mongodb
before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
  - npm install -g mongodb-version-manager
  - m use $MONGOVERSION
  - bash ./start_mongo.bash
before_script:
# - sudo systemctl stop mongodb
  - export PATH=$(m path):$PATH
  - echo $PATH
env:
  matrix:
    - MONGOVERSION=2.4.14 TRAVIS_NODE_VERSION=4
    - MONGOVERSION=2.6.12 TRAVIS_NODE_VERSION=4
    - MONGOVERSION=3.0.12 TRAVIS_NODE_VERSION=4
    - MONGOVERSION=3.2.10 TRAVIS_NODE_VERSION=4
notifications:
  recipients:
    - eric.meadows.jonsson@gmail.com
